{% extends 'base.html' %}

{% block content %}
<h1>Profile</h1>

<ul>
    <li>{{user.username}}</li>
    <li>點數:{{user.point}}</li>
    <li>Email:{{user.email}}
        {% if not user.certification %}
        <a href="">認證</a>
        {% endif %}
    </li>
    <li>居住地:{{user.city}}</li>
    <li>身分:{{user.respondent}}</li>
</ul>
<p>
    <a href="">資訊修改</a>
    <a href="">點數儲值</a>
</p>
{% if user.case_set.all|length == 0 %}
<h2>目前無發布Case</h2>
{% else %}
<div id="cases-table">
    <table border="1">
        <thead>
            <tr>
                <th>日期</th>
                <th>標題</th>
                <th>金額</th>
                <th>分類</th>
                <th>檢視次數</th>
            </tr>
        </thead>
        <tbody>
            {% for case in user.case_set.all %}
            <tr>
                <td>{{case.createdon}}</td>
                <td>{{case.title}}</td>
                <td>{{case.amount}}</td>
                <td>{{case.category}}</td>
                <td>{{case.view}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}